

$themeBgDark: rgb(31, 29, 43);
$chatBgDark: #252836;
$inputBgDark: rgb(45, 48, 62);
$buttonPurple: #6c5ecf;

$buttonGrey: #353340;
$buttonRed: #ea5f5f;

$sectionBgDark: #252836;

$textWhite: #fff;
$textGrey: #6f6f78;


$darkGrey: #39393b;

$notificationGreen: #2fff75;

$themeRadius: 12px;
$buttonRadius: 6px;
$rad6: 6px;