@import "normalize.scss";
@import "vars.scss";
@import "fonts.scss";
@import "global.scss";
@import "user-templates.scss";
@import "verify.scss";
@import "private-page.scss";
@import "_channels-view.scss";
@import "landing.scss";

.nav__bar{
    width: 250px;
    height: calc(100vh - 57px);
    background-color: $chatBgDark;
    position: fixed;
    left: -250px;
    top: 57px;
    opacity: 0;
    transition: all .4s ease;
    border-right: 1px solid $buttonGrey;
    &.active{
        left: 0;
        opacity: 1;
    }
    &--nav{
        padding: 15px 20px;
        margin-top: 40px;
    }
    &--ul{
        display: flex;
        flex-direction: column;
        height: 400px;
        li + li {
            margin-top: 15px;
        }
    }
    &--li,
    &--li__dropdown{
        list-style: none;
        padding-left: 20px;
        display: flex;
    }
    &--li:last-child{
        margin-top: auto;
    }
    &--link__icon{
        width: 24px;
        height: 24px;
        fill: $textGrey;
    }
    &--link,
    &--link__small{
        padding-left: 10px;
        @include pop600;
        font-size: 16px;
        line-height: 24px;
        color: $textWhite;
        text-decoration: none;
        cursor: pointer;
    }
    &--link__small{
        font-size: 14px;
        line-height: 18px;
    }
    &--additional__wrapper{
        display: none;
        overflow: hidden;
        transition: all .3s ease;
        &.active{
            display: block;
            margin-bottom: 20px;
            margin-left: 50px;
        }
        div + div {
            margin-top: 10px;
        }
    }
    &--additional__wrapper--link{
        display: flex;
        align-items: center;
    }
}
.header{
    height: 56px;
    background-color: $themeBgDark;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
    &__burger--holder{
        width: 24px;
        height: 20px;
        position: relative;
        cursor: pointer;
        margin-right: 25px;
        margin-left: 40px;
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: #fff;
        }
        &::before{
            top: 0px;
        }
        &::after{
            bottom: 0px;
        }
    }
    &__burger{
        margin-top: 9px;
        width: 24px;
        height: 2px;
        background-color: #fff;
        position: relative;
        
    }
    &__logo{
        display: inline-block;
        width: 180px;
        height: 33px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__logo--test {
        margin-left: 10px;
        padding: 12px 25px;
        background-color: rgb(224, 52, 52);
        color: #fff;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    &__user{
        margin-left: auto;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__user--avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px;
        cursor: pointer;
    }
    &__user--name{
        @include pop600;
        font-size: 16px;
        line-height: 24px;
        color: $textWhite;
        margin-right: 24px;
        cursor: pointer;
    }

    /* User dropdown */
    &__user--dropdown{
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
        top: 44px;
        left: 0;
        width: 180px;
        height: 0px;
        background-color: $inputBgDark;
        border: 1px solid $buttonGrey;
        opacity: 0;
        transition: all .4s ease;
        &.active{
            height: 200px;;
            opacity: 1;
        }
    }
    &__user--dropdown__ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
        li + li {
            margin-top: 10px;
        }
    }
    &__user--dropdown__li{
        display: flex;
        list-style: none;
    }
    &__user--dropdown--link{
        @include pop400;
        font-size: 14px;
        line-height: 18px;
        color: $textWhite;
        text-decoration: none;
    }
    &__user--dropdown--icon{
        width: 18px;
        height: 18px;
        margin-right: 5px;
        fill: $textGrey;
    }

    /* End User dropdown */
    &__user--notifications{
        position: relative;
        cursor: pointer;
        margin-right: 40px;
    }
    &__user--notifications__flag{
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
    }
    &__user--notifications__num{
        color: $textWhite;
        @include pop600;
        font-size: 9px;
        line-height: 10;
    }
    &__user--notofocations__svg{
        transform: scale(0.7);
        fill: grey;
    }
    &__nav{
        display: block;
        padding-right: 20px;
        margin-left: auto;
    }
    &__nav--ul{
        display: flex;
        li + li {
            margin-left: 24px;
        }
    }
    &__nav--li{
        list-style: none;
    }
    &__nav--link{
        text-decoration: none;
        @include pop600;
        font-size: 16px;
        line-height: 24px;
        color: $textWhite;
    }
}

/* Main styles */
.main{
    background-color: $themeBgDark;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 70px;
}
/* End Main styles */

/* Channel styles */
@import "channel.scss";
@import "emoji.scss";
/* End Channel styles */
/* Video Styles */
@import "video.scss";
/* End Video styles */

@import "followers.scss";
@import "simple-rating.scss";
@import "feedback.scss";


/* Footer */
.footer{
    padding: 30px 15px;
    border-top: 1px solid $inputBgDark;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: 100%;
    }
    &__heading{
        @include pop600;
        font-size: 16px;
        line-height: 24px;
        color: $textWhite;
        margin-bottom: 15px;
    }
    &__text{
        @include pop400;
        font-size: 14px;
        line-height: 18px;
        color: $textGrey;
    }
    &__li{
        list-style: none;
    }
    &__link{
        text-decoration: none;
        @include pop600;
        font-size: 16px;
        line-height: 24px;
        color: $textGrey;
    }
    &__social{
        display: flex;
        flex-wrap: wrap;
    }
    &__social--logo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        & + .footer__social--logo{
            margin-left: 15px;
        }
    }
    &__copy{
        padding: 15px;
        border-top: 1px solid $chatBgDark;
        display: flex;
        justify-content: center;
    }
    &__copy--text{
        @include pop400;
        font-size: 12px;
        line-height: 14px;
        color: $textGrey;
    }
}
/* End Footer */

/* Media queries */
@import "media.scss";
/* End Media queries */